.header{
  display: flex;
  flex-direction: rowl;
  justify-content: space-between;
}
.body{
  background-color: grey;
  height: 100%;
}
.firstDiv,.thirdDiv{
  align-self: center;
  width:45%;
  color: white;
}

.secondDiv{
  align-self: center;
}


