.bookImage {
  width:  100%;
  height: 303px;
  background-repeat:   no-repeat;
  background-size:     cover;
}
.bookTitle{
  text-align: center;
  padding: 0% 9%;
}

.book{
  width:350px;
  margin: 2% 1%;
  background-color: orange;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}